<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vConsole/3.3.0/vconsole.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="liff.js"></script>
  <link rel="stylesheet" type="text/css" href="liff.css" />
</head>
<script>
  const apiUrl = 'https://us-central1-review-clean02.cloudfunctions.net/app';
  function registerModel() {
    const model = window.app.model;
    const registerData = {
      model: model,
      userId: window.app.profile.userId,
    };
    axios.post(apiUrl + '/', registerData)
      .then((response) => {
        // handle success
        console.log(response);
      })
      .catch((error) => {
        // handle error
        console.log(error);
      })
  }
  axios.get('https://us-central1-review-clean02.cloudfunctions.net/app')
    .then((response) => {
      // handle success
      console.log(response);
    })
    .catch((error) => {
      // handle error
      console.log(error);
    });
  let vConsole_i = 0;
  function vConsoleShow() {
    vConsole_i++;
    if (vConsole_i === 8) {
      var vConsole = new VConsole();
    }
  }
</script>

<body>
  <div id="app" class="container">
    <h3 onclick="vConsoleShow()" style="white-space: nowrap;">空氣清淨智慧系統</h3>
    <span v-if="model" @click="saveModel()">型號:{{model}}</span>
    <hr />
    <p>
      <img id="loading-animation" class="" src="loading.gif" height="14px" />
      <span id="status" class="inactive">Device disconnected</span>
    </p>
    <p>
      藍牙狀態：
      <span v-if="bluetooth">已連線</span>
      <span v-if="!bluetooth" class="red-text">未連線</span>
    </p>
    <hr />

    <div id="controls" class="hidden"></div>
    <a class="waves-effect waves-light indigo btn right" style="font-size: 14px;" id="refreshWIFIBtn">
      &nbsp; 刷新WIFI <i class="material-icons right">cached</i>
    </a>
    <select v-model="wifiConfig.SSID" class="browser-default">
      <option value="" disabled selected>請選擇WIFI</option>
      <option v-for="wifi in wifiList" v-bind:value="wifi.SSID">
        {{ wifi.SSID }}
      </option>
    </select>
    <br>
    <div class="input-field col s12" v-if="wifiConfig.SSID !== ''">
      <input placeholder="輸入WIFI密碼" type="text" v-model="wifiConfig.password" class="validate">
      <label for="first_name" class="active">{{wifiConfig.SSID}}</label>
    </div>
    <!-- <span>Selected: {{ wifiConfig  }}</span> -->
    <button class="waves-effect waves-light btn" style="width: 100%;" id="btn-connect">
      連線<i class="material-icons right">send</i>
    </button>

    <!-- <ul class="collection with-header">
      <li class="collection-header">
        <h4>即時數據</h4>
      </li>
      <li class="collection-item">
        <div>溫度：{{environment.temperature}}</div>
      </li>
      <li class="collection-item">
        <div>濕度：{{environment.humidity}}</div>
      </li>
      <li class="collection-item" v-if="environment.heatIndex !== 0">
        <div>體感：{{environment.heatIndex}}</div>
      </li>
      <li class="collection-item">
        <div><img src="https://image.flaticon.com/icons/svg/2184/2184803.svg" alt=""> PM2.5：{{environment.voMeasured}}
        </div>
      </li>
      <li class="collection-item">
        <div>二氧化碳：{{environment.co2}}</div>
      </li>
    </ul> -->

    <div class="row hidden">
      <h4>即時數據</h4>

      <div class="col s6 ">
        <div class="z-depth-3">
          <img src="https://image.flaticon.com/icons/svg/214/214352.svg" class="dataIcon responsive-img">
          <p>溫度：{{environment.temperature}} </p>
        </div>
      </div>

      <div class="col s6 ">
        <div class="z-depth-3">
          <img src="https://image.flaticon.com/icons/svg/1779/1779883.svg" class="dataIcon responsive-img">
          <p>濕度：{{environment.humidity}} </p>
        </div>
      </div>

      <div class="col s6 ">
        <div class="z-depth-3">
          <img src="https://image.flaticon.com/icons/svg/1890/1890036.svg" class="dataIcon responsive-img">
          <p>CO2：{{environment.co2}} </p>
        </div>
      </div>

      <div class="col s6 ">
        <div class="z-depth-3">
          <img src="https://image.flaticon.com/icons/svg/2184/2184803.svg" class="dataIcon responsive-img">
          <p>PM2.5：{{environment.voMeasured}} </p>
        </div>
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>{{loadingText}}</h4>
        <br>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</body>
<script>

  M.AutoInit();
  app = new Vue({
    el: '#app',
    data: {
      wifiList: [
      ],
      wifiConfig: {
        SSID: '',
        password: '',
      },
      environment: {
        humidity: 28,
        temperature: 28,
        heatIndex: 0,
        voMeasured: 77,
        co2: 66,
      },
      wifiStatus: {
        SSID: '',
        isConnect: true,
      },
      bluetooth: true,
      model: '',
      loadingText: 'WIFI掃描中...',
      dataMode: '',
      profile: {},
    },
    methods: {
      saveModel() {
        var docRef = db.collection("users").doc(this.profile.userId);
        docRef.get().then((doc) => {
          if (doc.exists) {
            let data = doc.data();
            console.log("Document data:", data);
            if (data.ownModels.indexOf(this.model) === -1) {
              data.ownModels.push(this.model);
              docRef.set(data);
            }
          } else {
            console.log("No such document!");
            db.collection("users").doc(this.profile.userId).set({
              ... this.profile,
              ownModels: [this.model],
              wifiList: this.wifiList,
              wifiConfig: this.wifiConfig,
            }).then(function (docRef) {
              console.log("Document written with ID: ", docRef.id);
            }).catch(function (error) {
              console.error("Error adding document: ", error);
            });
          }
        }).catch(function (error) {
          console.log("Error getting document:", error);
        });
      },
    }, beforeMount() {

    }
  });
</script>
<script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-firestore.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCaxBk624DKPVZC2iXZA0xVRzJVaSX3n10",
    authDomain: "line-things-tsic.firebaseapp.com",
    databaseURL: "https://line-things-tsic.firebaseio.com",
    projectId: "line-things-tsic",
    storageBucket: "line-things-tsic.appspot.com",
    messagingSenderId: "884530343481",
    appId: "1:884530343481:web:f6c0a3a0ad84e365aea7e8"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  var db = firebase.firestore();
</script>

</html>